@import "tailwindcss";

@theme {
    /* 1. Define your Primary Brand Colors */
    --color-primary: #0f5abb; /* The main 10Pearls Blue */
    --color-primary-dark: #0a3f85; /* The darker hover shade */

    /* 2. Define your Custom Slate Color */
    --color-slate-850: #1e293b; /* Your specific gradient background color */
}
